.DS_Store

# data
yc_companies.csv
data/raw/gd_auctions_export_1715053158020.csv
data/raw/ODBus_v1
data/raw/startup_investments_crunchbase.csv
data/raw/unicorns_till_sep_2022.csv

# output
out
data/meta.pkl
data/train.bin
data/val.bin

# python
__pycache__

# wandb
wandb
